[service]
Type=notify
ExecStart=/var/www/nothingcouldbebetter/.venv/bin/uvicorn backend.app:app --host 127.0.0.1 --port 8000 --workers 3
WorkingDirectory=/var/www/nothingcouldbebetter
Environment=PYTHONPATH=/var/www/nothingcouldbebetter
